<section class="page-header">
  <h2>Meus Certificados</h2>
  <p class="subtitle">Baixe ou verifique seus certificados emitidos.</p>
  <hr />
</section>

<table mat-table [dataSource]="certificados" class="mat-elevation-z1 w-100" *ngIf="certificados?.length; else vazio">
  <ng-container matColumnDef="curso">
    <th mat-header-cell *matHeaderCellDef>Curso</th>
    <td mat-cell *matCellDef="let c">{{c.nomeCurso}}</td>
  </ng-container>
  <ng-container matColumnDef="data">
    <th mat-header-cell *matHeaderCellDef>Data de Emissão</th>
    <td mat-cell *matCellDef="let c">{{c.dataEmissao | date:'shortDate'}}</td>
  </ng-container>
  <ng-container matColumnDef="acoes">
    <th mat-header-cell *matHeaderCellDef>Ações</th>
    <td mat-cell *matCellDef="let c">
      <button mat-stroked-button color="primary" (click)="visualizar(c)">Visualizar</button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="cols"></tr>
  <tr mat-row *matRowDef="let row; columns: cols"></tr>
</table>

<ng-template #vazio>
  <div class="empty-state">
    <p>Você ainda não possui certificados.</p>
  </div>
</ng-template>


