.form-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
    margin-top: 20px;
}

.dialog-body { display: block; min-width: 360px; }

.col-12 {
    grid-column: span 12;
}

.col-6 {
    grid-column: span 6;
}

.col-8 {
    grid-column: span 8;
}

.col-4 {
    grid-column: span 4;
}

mat-form-field {
    margin-top: 8px;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
}