/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Avoid horizontal scroll inside dialogs and body
html, body, .cdk-overlay-container, .mat-mdc-dialog-container, .mdc-dialog__surface {
  max-width: 100vw;
  overflow-x: hidden;
}

.align-right {
  text-align: right;
  margin-right: 8px; /* Ajuste para espaçamento */
}

.margin-xs { margin: 4px !important; }
.margin-sm { margin: 8px !important; }
.margin-md { margin: 16px !important; }
.margin-lg { margin: 24px !important; }
.margin-xl { margin: 32px !important; }

.margin-xs-top { margin-top: 4px !important; }
.margin-sm-top { margin-top: 8px !important; }
.margin-md-top { margin-top: 16px !important; }
.margin-lg-top { margin-top: 24px !important; }
.margin-xl-top { margin-top: 32px !important; }

.margin-xs-right { margin-right: 4px !important; }
.margin-sm-right { margin-right: 8px !important; }
.margin-md-right { margin-right: 16px !important; }
.margin-lg-right { margin-right: 24px !important; }
.margin-xl-right { margin-right: 32px !important; }

.margin-xs-bottom { margin-bottom: 4px !important; }
.margin-sm-bottom { margin-bottom: 8px !important; }
.margin-md-bottom { margin-bottom: 16px !important; }
.margin-lg-bottom { margin-bottom: 24px !important; }
.margin-xl-bottom { margin-bottom: 32px !important; }

.margin-xs-left { margin-left: 4px !important; }
.margin-sm-left { margin-left: 8px !important; }
.margin-md-left { margin-left: 16px !important; }
.margin-lg-left { margin-left: 24px !important; }
.margin-xl-left { margin-left: 32px !important; }

@keyframes rotate {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.mat-icon.rotating {
  animation: rotate 2s linear infinite;
}